<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="/static/css/employeeTruckPage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/employeePage" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none" id="navbar-header">
                    <span class="fs-5 d-none d-sm-inline">Меню</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="employeePage" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Личный кабинет</span>
                        </a>
                    </li>
                    <li>
                        <a href="/employeeTruck" data-bs-toggle="collapse" class="nav-link-active nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Фуры</span> </a>
                    </li>
                    <li>
                        <a href="/employeeDriver" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Водители</span></a>
                    </li>
                    <li>
                        <a href="/employeeOrder" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Заказы</span></a>
                    </li>
                    <li>
                        <a href="/employeeCargo" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Грузы</span></a>
                    </li>
                </ul>
                <row class="py-3">
                    <a class="btn btn-lg btn-danger" href="/logout">
                        <span>Выйти</span>
                    </a>
                </row>
            </div>
        </div>
        <div class="col py-1">
            <div class="row">
                <div class="d-flex w-100 justify-content-end">
                    <div class="py-1">
                        <button id = "truck-add-btn" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#addModal">Добавить фуру</button>
                    </div>
                </div>
            </div>
            <div class="row-1 py-1">
                <div class="list-group py-2" th:each="truck : ${trucks}">
                    <div class="list-group-item list-group-item-action" aria-current="true">
                        <div class="row">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="col py-3">
                                    <h5 class="mb-1" th:text="${truck.regNumber}"></h5>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="col py-3">
                                        <button type="button" class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#exampleModal" th:id ="${truck.id}" name="update-truck-btn">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1" th:text="${truck.location.name}"></p>
                                <div th:switch="${truck.currentDrivers.size()}">
                                    <p th:case="0"></p>
                                    <p class="mb-1" th:case="1" th:text="'#' + ${truck.currentDrivers[0].id} + ' ' + ${truck.currentDrivers[0].firstName} + ' ' + ${truck.currentDrivers[0].lastName}"></p>
                                    <p class="mb-1" th:case="2" th:text="'#' + ${truck.currentDrivers[0].id} + ' ' + ${truck.currentDrivers[0].firstName} + ' ' + ${truck.currentDrivers[0].lastName}
                                    + ' ' + '#' + ${truck.currentDrivers[1].id} + ' ' + ${truck.currentDrivers[1].firstName} + ' ' + ${truck.currentDrivers[1].lastName}"></p>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="col py-3">
                                        <button type="button" class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#delModal" th:id ="${truck.id}" name="del-truck-btn">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div th:switch="${truck.status}">
                                <small th:case='0'>Исправен</small>
                                <small th:case='1'>Неисправен</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form th:method="put" id="truckEdit" th:object="${truck}" th:action="@{/employeeTruck}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Редактирование фуры</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="truck-id-input" th:field = "*{id}"/>
                            <div class="mb-3">
                                <label for="inputRegNum" class="form-label">Регистрационный номер</label>
                                <input type="text" class="form-control" id="inputRegNum" aria-describedby="regNumHelp" th:field="*{regNumber}"/>
                                <div id="regNumHelp" class="form-text">В формате 2 лат. буквы + 5 цифр, например, АA12345</div>
                            </div>
                            <div class="mb-3">
                                <label for="inputDriversShift" class="form-label">Размер смены водителей</label>
                                <input type="number" class="form-control" id="inputDriversShift" min="0" max="176" th:field="*{driversShift}">
                            </div>
                            <div class="mb-3">
                                <label for="inputCapacity" class="form-label">Вместимость (тонн)</label>
                                <input type="number" class="form-control" id="inputCapacity" min="0" max="1000" th:field="*{capacity}">
                            </div>
                            <div class="mb-3">
                                <label for="inputStatus" class="form-label">Состояние фуры</label>
                                <select class="form-select" aria-label="Состояние фуры" id="inputStatus" th:field="*{status}">
                                    <option value="0">Исправен</option>
                                    <option value="1">Неисправен</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="inputLocation" class="form-label">Текущий город</label>
                                <select class="form-select" aria-label="Текущий город" id="inputLocation" th:field="*{location.id}">
                                    <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit"  class="btn btn-primary" form="truckEdit">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form th:method="post" id="truckAdd" th:action="@{/employeeTruck}" th:object="${truck}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">Добавление фуры</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="inputRegNum" class="form-label">Регистрационный номер</label>
                                <input type="text" class="form-control" id="addInputRegNum" aria-describedby="regNumHelp" th:field="*{regNumber}"/>
                                <div id="addRegNumHelp" class="form-text">В формате 2 лат. буквы + 5 цифр, например, АA12345</div>
                            </div>
                            <div class="mb-3">
                                <label for="addInputDriversShift" class="form-label">Размер смены водителей</label>
                                <input type="number" class="form-control" id="addInputDriversShift" min="0" max="176" th:field="*{driversShift}">
                            </div>
                            <div class="mb-3">
                                <label for="addInputCapacity" class="form-label">Вместимость (тонн)</label>
                                <input type="number" class="form-control" id="addInputCapacity" min="0" max="1000" th:field="*{capacity}">
                            </div>
                            <div class="mb-3">
                                <label for="addTruckStatus" class="form-label">Состояние фуры</label>
                                <select class="form-select" aria-label="Состояние фуры" id="addTruckStatus" th:field="*{status}">
                                    <option value="0">Исправен</option>
                                    <option value="1">Неисправен</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="addTruckLocation" class="form-label">Текущий город</label>
                                <select class="form-select" aria-label="Текущий город" id="addTruckLocation" th:field="*{location.id}">
                                    <option th:each="location : ${locations}" th:value="${location.id}" th:text="${location.name}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit"  class="btn btn-primary" form="truckAdd">Добавить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
            <form th:action="@{/employeeTruck}" th:method="delete" id="truckDelete">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delModalLabel">Удаление фуры</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="truck-id-delete" name="delete-truck-id"/>
                            Пожалуйста, подтвердите удаление.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit"  class="btn btn-primary" form="truckDelete">Удалить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript" type="text/javascript">
    $("[name=update-truck-btn]").click(function () {
        var passedID = $(this).attr('id');
        $('#truck-id-input').val(passedID);
        $.ajax({
            type:"GET",
            contentType: "application/json",
            url: "/employeeTruck/" + passedID,
            success: function (data) {
                console.log(data);

                $('#inputRegNum').val(data["regNumber"]);
                $('#inputDriversShift').val(data["driversShift"]);
                $('#inputCapacity').val(data["capacity"]);
                $('#inputStatus').val(data["status"]);
                $('#inputLocation').val(data["location"]["id"]);
            }
        });

    });
</script>
<script th:inline="javascript" type="text/javascript">
    $("[name=del-truck-btn]").click(function () {
        var passedID = $(this).attr('id');
        $('#truck-id-delete').val(passedID);
    });
</script>
</body>
</html>