<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link href="/css/employeeDriverPage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-decoration-none" id="navbar-header">
                    <span class="fs-5 d-none d-sm-inline">Меню</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/employeePage" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Личный кабинет</span>
                        </a>
                    </li>
                    <li>
                        <a href="/employeeTruck" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Фуры</span> </a>
                    </li>
                    <li>
                        <a href="/employeeDriver" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Водители</span></a>
                    </li>
                    <li>
                        <a href="/employeeOrder" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Заказы</span></a>
                    </li>
                    <li>
                        <a href="/employeeCargo" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Грузы</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-1">
            <div class="row">
                <div class="d-flex w-100 justify-content-end">
                    <div class="py-1">
                        <button id = "driver-add-btn" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#addModal">Добавить груз</button>
                    </div>
                </div>
            </div>
            <div class="row-1 py-1">
                <div class="list-group py-2" th:each="cargo : ${cargos}">
                    <div class="list-group-item list-group-item-action" aria-current="true">
                        <div class="row">
                            <div class="d-flex w-100 justify-content-between">
                                <div class="col py-3">
                                    <h5 class="mb-1" th:text="${cargo.name} + ' #' + ${cargo.id}"></h5>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="col py-3">
                                        <button type="button" class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#exampleModal" th:id ="${cargo.id}" name="update-item-btn">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex w-100 justify-content-between">
                                <p class="mb-1" th:text="${cargo.weight}"></p>
                                <div class="d-flex justify-content-end">
                                    <div class="col py-3">
                                        <button type="button" class="btn btn-primary rounded" data-bs-toggle="modal" data-bs-target="#delModal" th:id ="${cargo.id}" name="del-item-btn">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div th:switch="${cargo.status}">
                                <small th:case='0'>Подготовлен</small>
                                <small th:case='1'>Отгружен</small>
                                <small th:case='2'>Доставлен</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form th:method="post" id="addCargo" th:action="@{/employeeCargo}" th:object="${cargo}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalLabel">Добавление груза</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="inputAddCargoName" class="form-label">Наименование</label>
                                <input type="text" class="form-control" id="inputAddCargoName" th:field="*{name}"/>
                            </div>
                            <div class="mb-3">
                                <label for="inputAddCargoWeight" class="form-label">Масса</label>
                                <input type="text" class="form-control" id="inputAddCargoWeight" aria-describedby="weightHelp" th:field="*{weight}"/>
                                <div id="weightHelp" class="form-text">Укажите массу в килограммах</div>
                            </div>
                            <div class="mb-3">
                                <label for="inputAddCargoStatus" class="form-label">Статус груза</label>
                                <select class="form-select" aria-label="Статус груза" id="inputAddCargoStatus" th:field="*{status}">
                                    <option value="0">Подготовлен</option>
                                    <option value="1">Отгружен</option>
                                    <option value="2">Доставлен</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit"  class="btn btn-primary" form="addCargo">Добавить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <form th:method="put" id="cargoEdit" th:object="${cargo}" th:action="@{/employeeCargo}">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Редактирование груза</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cargo-id-input" th:field = "*{id}"/>
                            <div class="mb-3">
                                <label for="inputEditCargoName" class="form-label">Наименование</label>
                                <input type="text" class="form-control" id="inputEditCargoName" th:field="*{name}"/>
                            </div>
                            <div class="mb-3">
                                <label for="inputEditCargoWeight" class="form-label">Масса</label>
                                <input type="text" class="form-control" id="inputEditCargoWeight" aria-describedby="weightEditHelp" th:field="*{weight}"/>
                                <div id="weightEditHelp" class="form-text">Укажите массу в килограммах</div>
                            </div>
                            <div class="mb-3">
                                <label for="inputEditCargoStatus" class="form-label">Статус груза</label>
                                <select class="form-select" aria-label="Статус груза" id="inputEditCargoStatus" th:field="*{status}">
                                    <option value="0">Подготовлен</option>
                                    <option value="1">Отгружен</option>
                                    <option value="2">Доставлен</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit"  class="btn btn-primary" form="cargoEdit">Сохранить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
            <form th:action="@{/employeeCargo}" th:method="delete" id="cargoDelete">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delModalLabel">Удаление груза</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" id="cargo-id-delete" name="delete-cargo-id"/>
                            Пожалуйста, подтвердите удаление.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                            <button type="submit"  class="btn btn-primary" form="cargoDelete">Удалить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script th:inline="javascript" type="text/javascript">
    $("[name=update-item-btn]").click(function () {
        var passedID = $(this).attr('id');
        $('#cargo-id-input').val(passedID);

        $.ajax({
            type:"GET",
            contentType: "application/json",
            url: "/employeeCargo/" + passedID,
            success: function (data) {
                console.log(data);

                $('#inputEditCargoName').val(data["name"]);
                $('#inputEditCargoWeight').val(data["weight"]);
                $('#inputEditCargoStatus').val(data["status"]);
            }
        });
    });
</script>
<script th:inline="javascript" type="text/javascript">
    $("[name=del-item-btn]").click(function () {
        var passedID = $(this).attr('id');
        $('#cargo-id-delete').val(passedID);
    });
</script>
</body>
</html>