.separator{
    display: flex;
    align-items: center;
}

.separator p{
    padding: 0 1.5rem;
    font-size: 1.5rem;
    color: #ff910a;
}

.separator .line{
    flex: 1;
    height: 3px;
    background-color: #ff910a;
}

#status-change-btn {
    background-color: #ff910a;
    color: white;
    border: 0;
}
#status-change-btn:hover {
    background-color: #ef8b05;
    color: white;
}

#order-status-change-btn {
    background-color: #ff910a;
    color: white;
    border: 0;
}
#order-status-change-btn:hover {
    background-color: #ef8b05;
    color: white;
}